.footer {
  margin: 56px 0;
}

.btn {
  margin: 0 auto;
  width: 170px;
  height: 40px;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 16px;
  border: 1px solid rgb(21, 19, 23);
  border-radius: 8px;
  background: rgb(255, 255, 255);
}

.text {
  font-size: 16px;
  line-height: 136.19%;
}

@media (max-width: 680px) {
  .footer {
    margin: 32px 0;
  }
}